.spostamento {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: deepskyblue;
  border-radius: 20px;
  height: 5%;
}

link {
  text-decoration: none;
  color: beige;
}
